footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    background: #0c7d99;
    background: linear-gradient(to right, #23cac2, #07353d) no-repeat 0 0 / cover ;
    color: #fff;
    padding-bottom: -2px;
    z-index: 999;

  }
  
  footer a {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 15px 5px 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  footer i {
    color: #000000;
  }