.card-blue{
    background: linear-gradient(to right, #1ea7a0, #0b4e5a) no-repeat 0 0 / cover ;
  }

  .info{
    background: rgba(239, 241, 241, 0.623);

  }

  .image-step1{
    display: block;
    width: 60px;
    margin: auto;
  }

  
.image-upload{
  border-style: dotted ;
  border-width: 4px;
  border-color: rgb(211, 211, 210);
  width: 30%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.add-file-button {
  background: linear-gradient(to right, #1ea7a0, #0b4e5a) no-repeat 0 0 / cover ;
  position: absolute;
  bottom: -28px;
  left: 16px;
  margin-bottom: 30px; 
}