<div class="main-content">
  <div class="container-fluid">

    <app-navroutes [itemsRoutes]="getRoutesItem()"></app-navroutes>


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-default card-header">
            <h4 class="card-title">Crear un lenguaje</h4>
            <p class="card-category"> Aqui puedes crear un lenguaje. </p>
          </div>
          <div class="card-body">
            <mat-horizontal-stepper linear #stepper>
              <mat-step [stepControl]="firstFormGroup" [optional]="true">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel> Datos del lenguaje </ng-template>
                  <app-create-language></app-create-language>

                </form>
              </mat-step>

              <mat-step [stepControl]="secondFormGroup" [optional]="true">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Crear temas </ng-template>
                  <app-theme></app-theme>


                </form>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel> Asignar contenido tematico</ng-template>
                <app-subthemes></app-subthemes>


              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Terminar</ng-template>
                <div class="container">
                  <div class="row d-flex justify-content-center">
                    <img class="image-finish" src="../../../../assets/img/thanos.gif">
                  </div>
                  <br>
                  <div class="row d-flex justify-content-center">
                    <button mat-raised-button matTooltip="Terminar la creacion del lenguaje" (click)="endGame()"
                      [matTooltipPosition]="'above'" type="button" class="btn btn-default pull-right button-add">
                      Terminar
                    </button>
                  </div>
                </div>
                <div>

                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
          <div class="card-footer">
            <div class="card-stats"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>