<div class="main-content">
  <div class="container-fluid">




    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ">
          <a href="#" class="text-success" [routerLink]="['/admin/dashboard']">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#" class="text-success" [routerLink]="['/admin/languages/menu-language']">Lenguajes</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Crear Lenguaje
        </li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Crear un lenguaje</h4>
            <p class="card-category">
              Aqui puedes crear un lenguaje.
            </p>
          </div>
          <div class="card-body">
            <mat-horizontal-stepper linear #stepper>
              <mat-step [stepControl]="firstFormGroup" [optional]="true">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Datos del lenguaje</ng-template>
                        <app-create-language></app-create-language>
                        <button mat-button matStepperNext>Siguiente</button>
                </form>
              </mat-step>

              <mat-step [stepControl]="secondFormGroup" [optional]="true">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Crear temas </ng-template>
                    <app-theme></app-theme>
                    <button mat-button matStepperPrevious>Atras</button>
                    <button mat-button matStepperNext>Continuar & guardar</button>
                </form>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel> Asignar contenido tematico</ng-template>
                <app-subthemes></app-subthemes>






                <div>
                  <button mat-button matStepperPrevious>Atras</button>
                  <button mat-button (click)="stepper.reset()">
                    Siguiente
                  </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Terminar</ng-template>
                You are now done.
                <div>
                  <button mat-button matStepperPrevious>Atras</button>
                  <button mat-button (click)="stepper.reset()">
                    Siguiente
                  </button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
          <div class="card-footer">
            <div class="card-stats"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>