

<img class="image-upload" *ngIf="source" [src]="source" src="">

<!-- 
    Entrada de archivo, acepta imágenes solamente. Detecta cuándo el archivo ha sido 
    seleccionado/cambiado con el detector de eventos nativo (cambio) de Angular 
-->
<input hidden type="file" #fileInput accept="image/*" (change)="updateSource($event)" />
<button mat-fab class="add-file-button mat-warn" (click)="fileInput.click()" aria-label="Add file"
  [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
  <mat-icon>cloud_upload</mat-icon>
</button>