<div class="content-signin">

<div class="box">
    <div id="header">
      <div id="cont-lock"><i class="material-icons lock">lock</i></div>
      <div id="bottom-head">
        <h1 id="logintoregister">Login</h1>
      </div>
    </div>
    <form >
  
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-10">
            <mat-form-field class="">
              <input matInput placeholder="Nombre de usuario" [(ngModel)]="username">
            </mat-form-field>
          </div>
  
          <div class="col-10">
            <mat-form-field class="">
              <input  type="password" matInput placeholder="Contraseña" [(ngModel)]="password">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--  <div class="group">
         
        <input class="inputMaterial" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nombre de Usuario</label>
        
      </div>
      <div class="group">
        <input class="inputMaterial" type="password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Contraseña</label>
      </div> -->
      <button id="buttonlogintoregister" type="submit" [routerLink]="['/admin/thematic-content/menu-language']">Iniciar Sesion</button>
    </form>
    <div id="footer-box">
      <p class="footer-text">
        ¿No tienes una cuenta?
        <span class="sign-up" [routerLink]="['/home/signup']"> Registrate ahora</span></p>
    </div>
  </div>
</div>


<!-- 
<div id="container-floating">
  <a href="https://plus.google.com/105749628523180076386/posts" target="_blank"><span
      class="profile-name">Simone</span></a>
  <div id="container-a">
    <div id="badge">
    </div>
    <div id="letter">
      <a href="https://plus.google.com/105749628523180076386/posts"><span>S</span></a>
    </div>
  </div>

  <a href="https://codepen.io/collection/XyrMQr/" target="_blank">
    <div class="nds nd1" data-toggle="tooltip" data-placement="left" data-original-title="Codepen"></div>
  </a>
  <a href="  https://twitter.com/simoberny" target="_blank">
    <div class="nds nd3" data-toggle="tooltip" data-placement="left" data-original-title="Twitter"></div>
  </a>
  <a href="https://plus.google.com/105749628523180076386/posts" target="_blank">
    <div class="nds nd4" data-toggle="tooltip" data-placement="left" data-original-title="G+"></div>
  </a>
</div> -->