<div class="main-content">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ">
          <a href="#" class="text-success" [routerLink]="['/admin/dashboard']">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#" class="text-success" [routerLink]="['/admin/languages/menu-language']">Lenguajes</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Crear Lenguaje
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Crear un lenguaje</h4>
            <p class="card-category">
              Aqui puedes crear un lenguaje.
            </p>
          </div>
          <div class="card-body">
            <mat-horizontal-stepper linear #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Datos del lenguaje</ng-template>


                  <br />
                  <mat-card>
                    <div class="row">
                      <div class="col-md-2 text-center ">
                        <img class="image-step1" src="../../../../../assets/img/coder-traits.png" />
                      </div>

                      <div class="col-md-10">
                        <label for="" class="info-label">
                          Tienes que ingresar los datos necesarios para crear
                          una competencia, recuerda seleccionar el tipo de
                          localizacion para asi definir el siguiente paso.
                        </label>
                      </div>
                    </div>
                  </mat-card>
                  <br />

                  <mat-card>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-8">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="language.name" formControlName="nameLanguageCtrl" matInput
                              placeholder="Nombre del lenguaje" required />
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-10">
                          <mat-form-field class="example-full-width">
                            <textarea [(ngModel)]="language.description" formControlName="descriptionLanguageCtrl"
                              matInput placeholder="Descripcion" rows="3" required></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-md-11">
                          <mat-form-field class="example-full-width">
                            <textarea formControlName="imageFakeLanguageCtrl" [(ngModel)]="language.image" matInput
                              placeholder="Cargar imagen" rows="1"></textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-1">

                          <!-- ADD FILE BUTTON -->

                          <input hidden type="file" #fileInput formControlName="imageLanguageCtrl"
                            [(ngModel)]="language.image" />
                          <button mat-fab class="add-file-button mat-warn" (click)="fileInput.click()"
                            aria-label="Add file" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                            <mat-icon>add</mat-icon>
                          </button>

                        </div>

                      </div>

                    </div>
                  </mat-card>

                  <div>
                    <button mat-button matStepperNext (click)="getLanguage()">Siguiente</button>
                  </div>
                </form>
              </mat-step>

              <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Creacion de los temas </ng-template>

                  <br />
                  <mat-card>
                    <div class="row">
                      <div class="col-md-2 text-center">
                        <img class="image-step2" src="../../../../../assets/img/coder2.png" />
                      </div>

                      <div class="col-md-10">
                        <label for="" class="info-label">
                          Aqui debes crear los temas del lenguaje de programacion deseado, ten en cuenta que los temas
                          se descomponen en subtemas.
                        </label>
                      </div>
                    </div>
                  </mat-card>

                  <br />
                  <mat-card>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-8">
                          <mat-form-field class="example-full-width">
                            <input [(ngModel)]="newTheme.name" formControlName="nameThemeCtrl" matInput
                              placeholder="Nombre del tema" required />
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-10">
                          <mat-form-field class="example-full-width">
                            <textarea matInput formControlName="descriptionThemeCtrl" [(ngModel)]="newTheme.description"
                              placeholder="Descripcion" rows="3" required></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <hr />
                      <ngx-editor></ngx-editor>
                      <hr />
                      <div class="row">
                        <div class="col-md-11">
                          <mat-form-field class="example-full-width">
                            <textarea 
                            matInput
                            formControlName="imageFakeThemeCtrl" 
                            [(ngModel)]="newTheme.image" 
                            placeholder="Cargar imagen" 
                            rows="1">
                          </textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-1">

                          <!-- ADD FILE BUTTON -->

                          <input 
                          hidden 
                          type="file"
                          #fileInputTheme 
                          formControlName="imageThemeCtrl"
                          [(ngModel)]="newTheme.image" />
                          <button 
                          mat-fab 
                          class="add-file-button mat-warn" 
                          (click)="fileInputTheme.click()"
                          aria-label="Add file" 
                          [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                            <mat-icon>add</mat-icon>
                          </button>

                        </div>

                      </div>
                      <div class="row">
                        <button (click)="addTheme()" mat-raised-button matTooltip="Crear Tema"
                          [matTooltipPosition]="'above'" type="button" class="btn btn-success pull-right">
                          Añadir
                        </button>
                      </div>


                    </div>
                  </mat-card>
                  <br />

                  <div class="container">
                    <div class="row">
                      <div *ngFor="let item of arrayTheme">
                        <app-card [item]="item" [type]="'theme'"></app-card>
                      </div>
                    </div>
                  </div>

                  <hr>
                  



                  <div>
                    <button mat-button matStepperPrevious>Atras</button>
                    <button mat-button matStepperNext>Siguiente</button>
                  </div>
                </form>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel> Asignar contenido tematico</ng-template>
                You are now done.
                <div>
                  <button mat-button matStepperPrevious>Atras</button>
                  <button mat-button (click)="stepper.reset()">
                    Siguiente
                  </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Terminar</ng-template>
                You are now done.
                <div>
                  <button mat-button matStepperPrevious>Atras</button>
                  <button mat-button (click)="stepper.reset()">
                    Siguiente
                  </button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
          <div class="card-footer">
            <div class="card-stats"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>