<div class="main-content">
  <div class="container-fluid">

    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb ">
          <div *ngFor="let item of getRoutesItem()">
              <li class="breadcrumb-item" *ngIf="item.active">
                  <a class="text" routerLink={{item.path}}>{{ item.title}} </a>
              </li>
            
              <li class="breadcrumb-item active" aria-current="page" *ngIf="!item.active">
                  {{item.title}}
              </li>
          </div>
      </ol>
  </nav>
    <div class="card">
      <div class="card-header card-header-default card-header">
        <h4 class="card-title">Respuesta</h4>
        <p class="card-category">Ingresa tu codigo para solucionar el ejercicio.</p>
      </div>
      <div class="card-body">
        <mat-card *ngIf="exercise">
          <div class="container">
            <div class="row">
              
              <div class="col-2">
                <img class="image" [src]="exercise.image">
              </div>
              <div class="col-8 detail">
                  <h5 > <b>Nombre:</b> {{ exercise.name }}</h5>
                  <h5> <b>Descripcion: </b> {{ exercise.description }} </h5>
              </div>
              <div class="col-2 detail">
                <mat-button-toggle (click)="sendAnswerExercise()">
                  Enviar respuesta
                </mat-button-toggle>
              </div>
            </div>

          </div>
        </mat-card>
        <br>
          <img  class="imagegif" src="../../../../assets/img/giphy.gif">
        <br>
        <mat-card>
          <app-monaco-code ></app-monaco-code>

        </mat-card>

        <br>
      
      </div>
    </div>

  </div>
</div>