.image {
  width: 200px;
  
  
}

.container-image{
  width: 300px;
  height: 300px;
  display:table-cell;
  vertical-align:middle;
  margin: auto;
}
.card-button{
  background: linear-gradient(to right, #1ea7a0, #0b4e5a) no-repeat 0 0 / cover ;
}

