@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
.content-signin{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-position: center center;
  position: absolute;
}

.btn-blue{
  background: linear-gradient(to right, #23cac2, #07353d) no-repeat 0 0 / cover ;
}