<mat-card class="card-test">
  <mat-card-title>
    <div class="row">
      <div class="col-10">
        <p class="title-card">{{ data.name }}</p>
      </div>
      <div class="col-1">
        <mat-checkbox [hidden]="type !== 'test'"></mat-checkbox>

      </div>
    </div>

  </mat-card-title>
  <mat-card-subtitle>
    {{ data.subtitle }}
  </mat-card-subtitle>
  <hr>
  <mat-card-content>
    <img class="img-card" mat-card-lg-image [src]="data.image" />
    <div class="description-card">
      <p>
        {{ 
          (data.description.length > 90) 
              ? (data.description | slice:0:90) + '...' 
              :(data.description)  }}
      </p>
    </div>
    <hr>
    <div class="card-footer">
      <div class="container">
        <div class="row">

          <div class="col-4">
            <mat-card-content>
              <button (click)="updateItem()" mat-icon-button color="primary" class="btn-success pull-right  btn-just-icon">
                <i class="material-icons"> edit </i>
              </button>
            </mat-card-content>
          </div>

     <!--      <div class="col-4">
            <mat-card-content>
              <button (click)="showItem()" mat-icon-button color="primary" class="btn-success pull-right  btn-just-icon">
                <i class="material-icons"> visibility </i>
              </button>
            </mat-card-content>
          </div> -->

          <div class="col-4">
            <mat-card-content>
              <button (click)="deleteItem()" mat-icon-button color="primary" class="btn-success pull-right  btn-just-icon">
                <i class="material-icons"> delete </i>
              </button>
            </mat-card-content>
          </div>
        </div>

      </div>


    </div>
  </mat-card-content>


</mat-card>