.img-card{
  width: 100%;
  height: 100%;
}
.card-footer{
  margin-left: 10px;
  margin-right: 10px 
}

.description-card{
  margin: 10px;
}

.image-card{
  width: 100%;
  width: 200px
}

.card-test{
  margin: 10px;
  width: 290px;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}
.card-test:hover { 
  background-color: #D3DFE8;
}

.title-card{
  font-size: 15px;
  font-weight: inherit;
}