
      <!-- 
    </div>
    Geoprograming
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Search..."
          />
          <button
            mat-raised-button
            type="submit"
            class="btn btn-white btn-round btn-just-icon"
          >
            <i class="material-icons">Buscar</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" href="#pablo">
          <i class="material-icons">Tablero de Geoprograming</i>
          <p>
            <span class="d-lg-none d-md-block">Stats</span>
          </p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#pablo">
          <i class="material-icons">person</i>
          <p>
            <span class="d-lg-none d-md-block">Cuenta</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
 -->
<!-- 
 <nav>
  <ul>
    <li>
      <a [routerLink]="['/admin/dashboard']" class="ico" >
        <i class="material-icons">apps</i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/users/user-manage']">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
        <a [routerLink]="['/admin/thematic-content/menu-language']">
          <i class="material-icons">school</i>
        </a>
    </li>


    <li>
      <a [routerLink]="['/admin/competences/menu-competence']">
        <i class="material-icons">place</i>
      </a>
  </li>
    <li>
      <a [routerLink]="['/admin/competences/map-competence']">
        <i class="material-icons">public</i>
      </a>
  </li>
    <li>
      <a [routerLink]="['/admin/exercise']">
        <i class="material-icons">insert_chart</i>
      </a>
  </li>
  </ul>
</nav> -->

<ul class="sidebar">
    <li class="centrar">
        <a [routerLink]="['/admin/dashboard']" >
          <i class="material-icons">apps</i>
        </a>
    </li>
     <li class="centrar">
        <a [routerLink]="['/admin/users/user-manage']">
          <i class="material-icons">supervised_user_circle</i>
        </a>
    </li>
    <li class="centrar">
        <a [routerLink]="['/admin/thematic-content/menu-language']">
          <i class="material-icons">school</i>
        </a>
    </li>
    <li class="centrar">
        <a [routerLink]="['/admin/competences/menu-competence']">
          <i class="material-icons">place</i>
        </a>
    </li>
    <li class="centrar">
        <a [routerLink]="['/admin/exercise']">
          <i class="material-icons">insert_chart</i>
        </a>
    </li>
    <li class="centrar">
        <a [routerLink]="['/admin/competences/map-competence']">
          <i class="material-icons">public</i>
        </a>
    </li>
  </ul>