   .main {
    
    background: #4e7a7a;
   }
 
   #main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
    }
  
   #main > article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 7pt;
    background: #ffffff;
    -webkit-flex: 3 1 60%;
            flex: 3 1 60%;
    -webkit-order: 2;
            order: 2;
    }
   
   #main > nav {
    margin: 0;
    padding: 0;
    border: 1px solid #ffffff00;
    border-radius: 7pt;
    display:  block;
    background: #ffffff00;
    -webkit-flex: 1 1 5%;
            flex: 1 1 5%;
    -webkit-order: 1;
            order: 1;
    }
   
   #main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #030707;
    border-radius: 7pt;
    background: #0707aa;
    -webkit-flex: 1 6 20%;
            flex: 1 6 20%;
    -webkit-order: 2;
            order: 2;
    }
  
   header {
    display: block;
    min-height: 60px;
    background: #2a3332;
    }
    
   footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 60px;
    border: 1px solid #ffffff;
    border-radius: 7pt;
    background: #ffffff;
    }
  
   /* Too narrow to support three columns */
   @media all and (max-width: 40px) {
   
    #main, #page {
     -webkit-flex-flow: column;
             flex-flow: column;
    }
 
    #main > article, #main > nav, #main > aside {
     /* Return them to document order */
     -webkit-order: 0;
             order: 0;
    }
   
    #main > nav, #main > aside, header, footer {
     min-height: 50px;
     max-height: 50px;
    }
   }