.image-step2{
    display: block;
    width: 50px;
    margin: auto;
  }
  

.add-file-button {
  background: linear-gradient(to right, #1ea7a0, #0b4e5a) no-repeat 0 0 / cover ;
  position: absolute;
  bottom: -28px;
  left: 16px;
  margin-bottom: 30px; 
}

.button-add{
  background: linear-gradient(to right, #1ea7a0, #0b4e5a) no-repeat 0 0 / cover ;
}


.image-upload{
  border-style: dotted ;
  border-width: 4px;
  border-color: rgb(211, 211, 210);
  width: 30%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}