.container-profile{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
}


.card-header{
    background: linear-gradient(to right, #1ea7a0, #0b4e5a) no-repeat 0 0 / cover ;
  }
  
  .card-button{
    background: linear-gradient(to right, #1ea7a0, #0b4e5a) no-repeat 0 0 / cover ;
  }

  