<div class="container-profile">

  <div class="col-md-12">
    <div class="card">
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card card-profile ">
                <div class="card-avatar avatar">
                  <a>
                    <img class="img" [src]="user.nick" />
                  </a>
                </div>
                <div class="card-body">
                  <i class="material-icons">edit</i>
                  <h6 class="card-category text-gray">Rol {{ user.role }}</h6>
                  <h4 class="card-title">{{ user.name }}</h4>

                  <p class="card-description">
                    {{ user.about }}
                  </p>

                  <div>
                    <h2><b>PUNTOS</b></h2>
                    <h2> {{ user.points }} </h2>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-8">

              <div class="card">
                <br>


                <div class="card-body">
                  <form>
                    <div class="row">


                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Username" [(ngModel)]="user.username" name='username' />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Correo electronico" type="email" [(ngModel)]="user.email"
                            name='email' />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-8">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Nombres" type="text" [(ngModel)]="user.name" name='name' />
                        </mat-form-field>
                      </div>
                    </div>
                    <hr>


             
                    <div class="row">
                      <div class="col-md-12">
                        <label>Estado</label>
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Ingresa un estado para compartir" [(ngModel)]="user.about" name='about'></textarea>
                        </mat-form-field>
                      
                      </div>
                    </div>
                    <button mat-raised-button type="submit" class="btn btn-default pull-right card-button">
                      Guardar
                    </button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>



</div>