.image {
  width: 80%;
  height: 200px;
}



.monaco{

  -webkit-box-shadow: 2px 0px 12px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 0px 12px 1px rgba(0,0,0,0.75);
box-shadow: 2px 0px 12px 1px rgba(0,0,0,0.75);
}