
<div class="main-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item "><a href="#" class="text-success" [routerLink]="['/dashboard']">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Test</li>
        </ol>
      </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card" [routerLink]="['/create-test']">
          <div class="card-header card-header-success">
            <h4 class="card-title">Crear una test de evaluacion</h4>
            <p class="card-category">Crea un test de evaluacion.</p>
          </div>
          <div class="card-body">
            <img class="image" src="" alt="" />
            <div class="container">
              <img
                class="image"
                src="../../../../assets/img/coderninja.png"
                alt=""
              />
            </div>
            <p class="card-category">
              <span class="text-success"
                ><i class="fa fa-long-arrow-up"></i>
              </span>
              ¡Animate! entra aqui y crea un test de preguntas o ejercicios.
            </p>
          </div>
          <div class="card-footer">
            <div class="card-stats">
              <button mat-raised-button class="btn btn-success">
                Ir <i class="material-icons">play_arrow</i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" [routerLink]="['/test-list']">
          <div class="card-header card-header-success">
            <h4 class="card-title">Ver todos los test</h4>
            <p class="card-category">Lista de test de evaluacion</p>
          </div>
          <div class="card-body">
            <img class="image" src="" alt="" />
            <div class="container">
              <img
                class="image"
                src="../../../../../assets/img/Prog.png"
                alt=""
              />
            </div>
            <p class="card-category">
              <span class="text-success"
                ><i class="fa fa-long-arrow-up"></i>
              </span>
              Entra aqui si quieres ver todos los test en la aplicacion.
            </p>
          </div>
          <div class="card-footer">
            <div class="card-stats">
              <button mat-raised-button class="btn btn-success">
                Ir <i class="material-icons">play_arrow</i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Estadisticas</h4>
            <p class="card-category">Listado de estadisticas</p>
          </div>
          <div class="card-body">
            <img class="image" src="" alt="" />
            <div class="container">
              <img
                class="image"
                src="../../../../../assets/img/estadistica.png"
                alt=""
              />
            </div>
            <p class="card-category">
              <span class="text-success"
                ><i class="fa fa-long-arrow-up"></i>
              </span>
              Entra aqui si quieres ver todas las estadisticas de los test de
              evaluacion.
            </p>
          </div>
          <div class="card-footer">
            <div class="card-stats">
              <button mat-raised-button class="btn btn-success">
                Ir <i class="material-icons">play_arrow</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


