<div class="main-content ">
  <div class="container-fluid content">



    <br>
    <app-navroutes [itemsRoutes]="getRoutesItem()"></app-navroutes>
    <!--AQUI VA NAVROUTES-->




    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">Lenguaje</h4>
            <p class="card-category"> Aqui puedes ver los detalles del lenguaje. </p>
          </div>
          <div class="card-body">
            <mat-card class="info">
              <div class="row">
                <div class="col-md-2 text-center ">
                  <img class="image-step1" src="../../../../../assets/img/deadpool.png" />
                </div>
                <div class="col-md-2 text-center ">
                  <img class="image-step1" src="../../../../../assets/img/icon_programador.png" />
                </div>
                <div class="col-md-2 text-center ">
                  <img class="image-step1" src="../../../../../assets/img/termi.jpg" />
                </div>
                <div class="col-md-2 text-center ">
                  <img class="image-step1" src="../../../../../assets/img/mundo.png" />
                </div>
                <div class="col-md-2 text-center ">
                  <img class="image-step1" src="../../../../../assets/img/main.png" />
                </div>
                <div class="col-md-2 text-center ">
                  <img class="image-step1" src="../../../../../assets/img/deadpool2.png" />
                </div>


              </div>
            </mat-card>
            <br />

            <mat-card>
              <div class="container container-language">
                <mat-card class="card-language">
                  <mat-card-title>
                    <div class="row">
                      <div class="col-10">
                        <p class="title-card">{{ language.name }}</p>
                      </div>
                    </div>
                  </mat-card-title>
                  <mat-card-subtitle>
                    <p>Lenguaje</p>
                  </mat-card-subtitle>
                  <hr>
                  <mat-card-content>
                    <img class="img-card" mat-card-lg-image [src]="language.image" />
                    <div class="description-card">
                      <label> Descripcion</label>
                      <p> {{ language.description }}</p>
                    </div>

                  </mat-card-content>
                </mat-card>




                <div class="container">
                  <div class="row" *ngIf="showSubtheme">
                    <app-subtheme-view></app-subtheme-view>
                  </div>


                  <div class="row" *ngIf="!showSubtheme">
                    <div class="col-md-6" *ngFor="let theme of arrayThemes; let i=index">
                      <div class="drag-container">
                        <div class="section-heading">
                          <div class="container">
                            <div class="row">
                              <div class="col-10">
                                <p>{{ theme.name }}</p>
                              </div>
                              <div class="col-1">
                                <button mat-icon-button color="primary" class="btn  btn-just-icon add-subtheme"
                                  (click)="openDialogTheme(theme)">
                                  <i class="material-icons"> remove_red_eye </i>
                                </button>
                              </div>
                            </div>
                          </div>

                        </div>
                        <hr>

                        <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="theme.subthemes"
                          [cdkDropListConnectedTo]="[pendingList]" class="item-list"
                          (cdkDropListDropped)="drop($event)">
                          <!-- class="item-box" -->
                          <div *ngFor="let subtheme of theme.subthemes" cdkDrag>


                            <app-card-mini (click)="openDialogSubtheme(subtheme)" [item]="subtheme" [idTheme]="theme.id"
                              [option]="'view'">
                            </app-card-mini>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>



          </div>

        </div>
      </div>
    </div>

  </div>
</div>