
.card-header{
  background: linear-gradient(to right, #1ea7a0, #0b4e5a) no-repeat 0 0 / cover ;
}


.image-step1{
  display: block;
  width: 60px;
  margin: auto;
}


.add-file-button {
  background: linear-gradient(to right, #1ea7a0, #0b4e5a) no-repeat 0 0 / cover ;
  position: absolute;
  bottom: -28px;
  left: 16px;
  margin-bottom: 30px; 
}


