<mat-card>
  <div class="row">
    <div class="col-md-2 text-center ">
      <img class="image-step1" src="../../../../../assets/img/coder-traits.png" />
    </div>

    <div class="col-md-10">
      <label for="" class="info-label">
        Tienes que ingresar los datos necesarios para crear
        una competencia, recuerda seleccionar el tipo de
        localizacion para asi definir el siguiente paso.
      </label>
    </div>
  </div>
</mat-card>
<br />

<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <input [(ngModel)]="language.name" matInput placeholder="Nombre del lenguaje" required />
        </mat-form-field>
        <mat-form-field>
          <textarea [(ngModel)]="language.description" matInput placeholder="Descripcion" rows="3" required></textarea>
        </mat-form-field>
      </div>


    </div>

    <image-preview (onChange)="getFile($event)"></image-preview>
    <br>
  </div>
</mat-card>