

<div class="main-content ml-5">
  <div class="container-fluid">
    <app-navroutes [itemsRoutes]="getRoutesItem()"></app-navroutes>




    <div class="row">


      <div class="card">
        <div class="card-header card-header-default card-blue">
          <h4 class="card-title">Ejercicios de programacion</h4>
          <p class="card-category">
            En esta seccion debe crear los ejercicios de programacion.
          </p>
        </div>
        <div class="card-body">

            <mat-card class="info">
                <div class="row">
                  <div class="col-md-2 text-center ">
                    <img class="image-step1" src="../../../../../assets/img/deadpool.png" />
                  </div>
                  <div class="col-md-2 text-center ">
                    <img class="image-step1" src="../../../../../assets/img/icon_programador.png" />
                  </div>
                  <div class="col-md-2 text-center ">
                    <img class="image-step1" src="../../../../../assets/img/termi.jpg" />
                  </div>
                  <div class="col-md-2 text-center ">
                    <img class="image-step1" src="../../../../../assets/img/mundo.png" />
                  </div>
                  <div class="col-md-2 text-center ">
                    <img class="image-step1" src="../../../../../assets/img/main.png" />
                  </div>
                  <div class="col-md-2 text-center ">
                    <img class="image-step1" src="../../../../../assets/img/deadpool2.png" />
                  </div>
  
  
                </div>
              </mat-card>

          <form>
            <div class="row">
              <div class="col-12">
                <form>
                  <mat-form-field>
                    <input matInput placeholder="Nombre del ejercicio">
                  </mat-form-field>

                  <mat-form-field>
                    <textarea matInput placeholder="Descripcion"></textarea>
                  </mat-form-field>
                </form>

              </div>
            </div>


            <button mat-raised-button type="submit" class="btn btn-success pull-right card-blue">
              Guardar
            </button>
          </form>



        </div>
      </div>


    </div>
  </div>
</div>