
<div class="padre">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
        <h1> Registrate </h1>
        <div class="social-container">
          <a href="#" class="social"> <i class="fab fa-facebook-f"></i> </a>
          <a href="#" class="social"> <i class="fab fa-google-plus-g"></i> </a>
          <a href="#" class="social"> <i class="fab fa-linkedin-in"></i> </a>
        </div>
  
       
        <button> Registrate </button>
    </div>
  
    <div class="form-container sign-in-container">
      <form action="#">
        <h1> ¡Registrate! </h1>
       
        <span> Adelante, crea tu cuenta... </span>
        <input type="text" placeholder="Nombres" [(ngModel)]="user.name" name="name" />
        <input type="text" placeholder="Nombre de usuario" [(ngModel)]="user.username" name="username" />
        <input type="number" placeholder="Telefono"  [(ngModel)]="user.phone" name="phone"/>      
        <input type="email" placeholder="Correo"  [(ngModel)]="user.email" name="email"/>
        <input type="password" placeholder="Contraseña" [(ngModel)]="user.password" name="password"/>
        <button (click)="signUp()">Registrarme </button>
  
      </form>
    </div>
  
    <div class="overlay-container">
      <div class="overlay">
     
  
        <div class="overlay-panel overlay-right">
            <img  style="width: 200px;" src="http://localhost:3001/uploads/images/logo.png">

          <h1> ¡Bienvenidos! </h1>
          <p> Si ya tienes una cuenta, entra aqui... </p>
          <button class="ghost" id="signUp" [routerLink]="['/home/signin']">Iniciar Sesion</button>
        </div>
  
      </div>
    </div>
  </div>
</div>


<!-- <footer>
  <p>
    Creado por - Stiven Rodriguez &copy; 2019
    <a href="https://github.com/merq-rodriguez" class="social" target="_blank"> <i class="fab fa-github"></i> </a>
  </p>

</footer> -->